{% extends 'base.html' %}

{% block content %}
{% if errors %}
<h1><em>{{ errors }}</em></h1>
{% else %}

<h1>{{ question.question_text }}</h1>
{% if question.choice_set.count == 0 %}
<p>There are no choices for this question,to create access <a href="/polls/{{ question.id }}/create_choice">this
    link</a></p>
{% else %}
<form method="post" action="{% url 'polls:vote' question.id %}">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>

    {% endfor %}
    <input type="submit" value="Vote"/>
</form>

</ul>
{% endif %}
{% endif %}

{% endblock %}